aside#mainMenu {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  height: 100vh;
  width: $widthMainMenu;
  display: flex;
  flex-direction: column;
  background-color: $secondaryColor;
  .menu-item-container {
    flex: 1;
  }

  .profile-container {
    border-top: 1px solid darken($secondaryColor,10%);
  }


  ul {
    display:flex;
    flex-direction: column;
    li.menu-item {
      position: relative;
      width: $widthMainMenu;
      padding: $paddingSize;
      text-align: center;
      cursor: pointer;
      img {
        height: $widthMainMenu - 2*$paddingSize;
        width: $widthMainMenu - 2*$paddingSize;
        border-radius: 50%;
        background-color: white;
      }
      &.hover:hover {
        background-color: $secondaryColorDark;
      }

      .smallIcon {
        position: absolute;
        bottom: 10px;
        padding: 5px;
        height: 34px;
        width: 34px;
        overflow: hidden;
        border-radius: 50%;
        background-color: $secondaryColorLight;
        &:hover {
          background-color: $secondaryColorDark
        }
      }
      #profileSettings {
        left: 10px;
      }
      #profileNotifications {
        right: 10px;
      }
    }
  }
}