aside#mainMenu {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  height: 100vh;
  width: $widthMainMenu;
  display: flex;
  flex-direction: column;
  background-color: $secondaryColor;

  .menu-header {
    height: 60px;
    background-color: #d37e1c;
  }

  .menu-item-container {
    flex: 1;
  }

  .profile-container {
    border-top: 1px solid darken($secondaryColor,10%);
  }


  ul {
    display:flex;
    flex-direction: column;
    margin: 0;
    li.menu-item {
      position: relative;
      width: $widthMainMenu;
      padding: $paddingSize;
      text-align: center;
      cursor: pointer;
      color: #666666;
      &.hover:hover {
        background-color: $secondaryColorDark;
      }
    }
  }
}