aside#mainMenu {
  height: 100vh;
  min-width: $widthMainMenu;
  display: flex;
  flex-direction: column;
  background-color: $secondaryColor;

  &.fold {
    min-width: $widthMainMenuFold;
  }

  .menu-header {
    height: 60px;
    background-color: #d37e1c;
    .menu-title {
      color: white;
    }
    li {
      padding: $paddingSize;
    }
  }

  .menu-item-container {
    flex: 1;
  }

  .profile-container {
    border-top: 1px solid darken($secondaryColor,10%);
  }


  ul {
    display:flex;
    flex-direction: column;
    margin: 0;
    li.menu-item {
      position: relative;
      width: $widthMainMenu;
      text-align: center;
      cursor: pointer;
      color: #666666;
      &.hover:hover {
        background-color: $secondaryColorDark;
      }
      a {
        color: inherit;
        padding: $paddingSize;
        display: block;
        &:hover {
          color: inherit;
        }
      }
    }
  }
}