/*Variables*/

$heightTopNavBar: 60px;
$paddingTopNavBar: 5px;


#HomePage {
  .main-header {
    height: 75vh;
    width: 100%;
    background-color: #588C7E;
    position: relative;
    .background-container {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: #eeaa00;
      width: 100%;
      height:100%;
    }
    .content-container {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .text-container {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  .call-to-action {
    width: 100%;
    padding: 30px;
    display: flex;
    .col {
      text-align: center;
      flex: 1;
    }
  }

}