
.trSummary {
	padding: $paddingSize;
	display: flex;
	cursor: pointer;
	border-bottom: 1px solid #eee;
	&:hover {
		box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
	}
	.right-container {
		flex: 1;
	}
	.left-container {
		display: flex;
		flex-direction: column;
		.image{
			width: 100%;
			padding: $paddingSize;
			flex: 1;
			img {
				width: 150px;
				height: 150px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		.icons {
			ul {
				display: flex;
				justify-content: space-between;
				margin: 0;
				li {
					margin-right: 5px;
					color: rgba(0,0,0,0.54);
					flex: 1;
					text-align: center;
					font-size: 14px;
					line-height: $heightTools;
					i {
						color: rgba(0,0,0,0.54);
						font-size: $heightTools;
						line-height: $heightTools;
					}
				}
			}
		}
	}
	.right-container {
		display: flex;
		flex-direction: column;
		p {
			flex: 1;
		}
		div {
			display: flex;
			justify-content: space-between;
		}
		.pic {
			width: 32px;
			height: 32px;
			img {
				background-color: #eee;
				border-radius: 50%;
				height: 100%;
				width:100%;
			}
		}
	}
}