//tabContent 1
#tripBlock {
	margin-top: $paddingSize;
	background-color: white;
	min-height: calc(100vh - 78px);
	display: flex;
	flex-direction: column;
	background-color: $thirdColor;
	border-radius: $paperBorderRadius;
	.tripImageContainer {
		margin-top: 2.1rem;
		padding: 0 $paddingSize;
		img{
			width: 100%;
			border-radius: 50%;
			object-fit: cover;
			cursor: pointer;
			&:hover {
				opacity: 0.6;
			}
		}
	}
	.sharing-tools {
		display: flex;
		background-color: $fourthColor;
		width: 100%;
		.share-tool {
			padding: $paddingSize;
			flex: 1;
			text-align: center;
			cursor: pointer;
			height: $heightTools + 2*$paddingSize;
			font-size: $heightTools;
			line-height: $heightTools;
			&:hover {
				background-color: $fourthColorDark;
			}
			i {
				font-size: $heightTools;
				line-height: $heightTools;
			}
		}
	}
	.members-container {
		margin: 30px 0;
		padding: $paddingSize;
		flex: 1;
		tbody tr {
			cursor: pointer;
			&:hover {
				background-color: $thirdColorDark;
			}
		}
		.btn-floating {
			background-color: $secondaryColor;
			i {
				color: rgba(0,0,0,0.87);
			}
		}
	}
	.tag-container {
		padding: $paddingSize;
		.chips.focus {
			border-bottom: 1px solid $secondaryColor;
			box-shadow: 0 1px 0 0 $secondaryColor;
		}
	}
}

#inspirationBlock {
	border-radius: $paperBorderRadius;
	margin-top: 15px;
	margin-left: 30px;
	background-color: $thirdColorLight;
	h1 {
		margin: 0px
	}
}
