$primaryColor: #588C7E;
$primaryColorDark: darken($primaryColor, 20%);
$primaryColorLight: lighten($primaryColor, 20%);
$secondaryColor: #eee;
$secondaryColorDark: darken($secondaryColor, 20%);
$secondaryColorLight: lighten($secondaryColor, 20%);
$thirdColor: #fff;
$thirdColorDark: darken($thirdColor, 20%);
$thirdColorLight: lighten($thirdColor, 10%);
$fourthColor: #ddd;
$fourthColorDark: darken($fourthColor, 20%);
$fourthColorLight: lighten($fourthColor, 20%);
$fithColor: #8c4646;
$fithColorDark: darken($fithColor, 20%);
$fithColorLight: lighten($fithColor, 20%);

$widthMainMenu: 100px;
$paddingSize: 15px;
$heightTools: 24px;
$paperBorderRadius: 2px;

/*Components*/
@import "components/buttons";
@import "components/help-login";
@import "components/side-nav";

/*Pages*/
@import "pages/index";


@import "tripinspiration";
@import "tripprofile";
@import "tripBoard";


body {
	background-color: $secondaryColor;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

main {
	margin-left: $widthMainMenu;
	padding: 0 2*$paddingSize;
}

.input-field.inline input, .input-field label, .chips .input {
	cursor: pointer;
	color: rgba(0,0,0,0.87);
	border-bottom-color: rgba(0,0,0,0.87);
}

thead {
	border-bottom-color: rgba(0,0,0,0.87);
}

.row .col {
	padding: 0;
}

.rowflex {
	display: flex;
	.col-50 {
		flex:1;
	}
}

aside#mainMenu {
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	height: 100vh;
	width: $widthMainMenu;
	display: flex;
	flex-direction: column;
	background-color: $primaryColor;
	.menu-item-container {
		flex: 1;
	}
	
	.profile-container {
		border-top: 1px solid darken($primaryColor,10%);
	}
	
	
	ul {
		display:flex;
		flex-direction: column;
		li.menu-item {
			position: relative;
			width: $widthMainMenu;
			padding: $paddingSize;
			text-align: center;
			cursor: pointer;
			img {
				height: $widthMainMenu - 2*$paddingSize;
				width: $widthMainMenu - 2*$paddingSize;
				border-radius: 50%;
				background-color: white;
			}
			&.hover:hover {
				background-color: $primaryColorDark;
			}
			
			.smallIcon {
				position: absolute;
				bottom: 10px;
				padding: 5px;
				height: 34px;
				width: 34px;
				overflow: hidden;
				border-radius: 50%;
				background-color: $primaryColorLight;
				&:hover {
					background-color: $primaryColorDark 
				}
			}
			#profileSettings {
				left: 10px;
			}
			#profileNotifications {
				right: 10px;
			}
		}
	}
}

//tabs
.tabs {
	background-color: transparent;
}

.tabs .tab a {
	color: $primaryColor;
}

.tabs .indicator {
	background-color: $primaryColorDark;
}

.tabs .tab a:hover, .tabs .tab a.active {
	color: $primaryColorDark;
}





