$primaryColor: #ea541d;
$primaryColorDark: darken($primaryColor, 20%);
$primaryColorLight: lighten($primaryColor, 20%);
$secondaryColor: #ededed;
$secondaryColorDark: darken($secondaryColor, 20%);
$secondaryColorLight: lighten($secondaryColor, 20%);
$thirdColor: #2c2c2c;
$thirdColorDark: darken($thirdColor, 20%);
$thirdColorLight: lighten($thirdColor, 10%);
$fourthColor: #ddd;
$fourthColorDark: darken($fourthColor, 20%);
$fourthColorLight: lighten($fourthColor, 20%);
$fithColor: #8c4646;
$fithColorDark: darken($fithColor, 20%);
$fithColorLight: lighten($fithColor, 20%);

$widthMainMenu: 100px;
$paddingSize: 15px;
$heightTools: 24px;
$paperBorderRadius: 2px;

/* Functions */
@function set-text-color($color) {
	@if (lightness($color) > 50) {
		@return rgba(0,0,0,0.8); // Lighter backgorund, return dark color
	} @else {
		@return rgba(255,255,255,0.8); // Darker background, return light color
	}
}

/*Components*/
@import "components/buttons";
@import "components/top-nav";
@import "components/side-nav";
@import "components/trip-header";
@import "components/trip-info";
@import "components/trip-board";
@import "components/trip-item";
@import "components/trip-financials";
@import "components/search-bar";

/*Pages*/
@import "pages/index";


//@import "tripinspiration";
//@import "tripprofile";
//@import "tripBoard";

body {
	background-color: $secondaryColor;
	color: #1d1d1b;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: nowayregular;
}

main {
	margin-left: $widthMainMenu;
}

.input-field.inline input, .input-field label, .chips .input {
	cursor: pointer;
	color: rgba(0,0,0,0.87);
	border-bottom-color: rgba(0,0,0,0.87);
}

thead {
	border-bottom-color: rgba(0,0,0,0.87);
}

.row .col {
	padding: 0;
}

.rowflex {
	display: flex;
	.col-50 {
		flex:1;
	}
}

//tabs
.tabs {
	background-color: transparent;
}

.tabs .tab a {
	color: $primaryColor;
}

.tabs .indicator {
	background-color: $primaryColorDark;
}

.tabs .tab a:hover, .tabs .tab a.active {
	color: $primaryColorDark;
}





